<div class="row component-content">
	<a [routerLink]="['/AddDelegates']" class="btn-flat hoverable waves-effect waves-light col l3">Who may help me?
	  <i class="material-icons left">undo</i>
	</a>
	<a [routerLink]="['/Permissions']" class="btn-flat hoverable waves-effect waves-light col l3 offset-l6 right" > What can they do on my behalf?
    <i class="material-icons right">redo</i>
  </a>
</div>


<h3 class="title component-content"><u>{{title}}</u></h3>


<!-- # 1 -->
<div class="row component-content folder-table hoverable">
	<h5><u><i class="material-icons left"> email</i><b>abc@gmail.com</b></u></h5>
	<table class="table-margin highlight">
	  <thead>
	    <tr>
	        <th data-field="folder_name">Folder Name</th>
	        <th data-field="permission">Permission</th>
	    </tr>
	  </thead>

	  <tbody>
	    <tr>
	      <td>Inbox</td>
	      <td>
				    <select class="input-field">
				      <option value="" disabled selected>Set Permission</option>
				      <option value="1">Browse</option>
				      <option value="2">Browse and Move</option>
				      <option value="3">Hidden</option>
				      <option value="4">Search only</option>
				    </select>
				    <label></label>
		  	</td>
	    </tr>

	    <tr>
	      <td>Office <p class="sub-folders"><i class="material-icons flip">keyboard_return</i> &emsp;Technical</p></td>
	      <td>
				    <select class="input-field">
				      <option value="" disabled selected>Set Permission</option>
				      <option value="1">Browse</option>
				      <option value="2">Browse and Move</option>
				      <option value="3">Hidden</option>
				      <option value="4">Search only</option>
				    </select>
				    <label></label>
		  	</td>
	    </tr>
	  </tbody>
	</table>
	
	<div class="row add-button">
		<a href="#modal2"	class="modal-trigger btn btn-large waves-effect waves-light col l2 offset-l10"><i class="material-icons"></i>Add Folders</a>
		  <!-- Modal Structure -->
	  <div id="modal2" class="modal modal-fixed-footer">
	    <div class="modal-content">
	      <h4 class="center">Add Folders</h4>
	      <div class="row">
	      	<!-- <div class="input-field col l6 `">
				    <select class="hoverable">
				      <option value="" disabled selected>Choose your account</option>
				      <option value="1">abc@gmail.com</option>
				      <option value="2">abc@yahoo.com</option>
				      <option value="3">abc@rediff.com</option>
				    </select>
				    <label>Select Account</label>
				  </div> -->
				  <div class="input-field col l6">
				    <select class="hoverable">
				      <option value="" disabled selected>Choose Folder</option>
				      <option value="1">Inbox</option>
				      <option value="2">Sent</option>
				      <option value="3">Drafts</option>
				      <option value="4">Personal</option>
				      <option value="5">Updates</option>
				      <option value="6">Social</option>
				    </select>
				    <label>Select Folder</label>
				  </div>
	      </div>
	    </div>
	    <div class="modal-footer">
	      <a href="" class="modal-action modal-close waves-effect waves-green btn">Save <i class="material-icons">save</i></a>
	    </div>
	  </div>
	</div>
</div>


<!-- #2 -->

<div class="row component-content folder-table hoverable">
	<h5><u><i class="material-icons left"> email</i><b>abc@yahoo.com</b></u></h5>
	<table class="table-margin highlight">
	  <thead>
	    <tr>
	        <th data-field="folder_name">Folder Name</th>
	        <th data-field="permission">Permission</th>
	    </tr>
	  </thead>

	  <tbody>
	    <tr>
	      <td>Inbox</td>
	      <td>
				    <select class="input-field">
				      <option value="" disabled selected>Set Permission</option>
				      <option value="1">Browse</option>
				      <option value="2">Browse and Move</option>
				      <option value="3">Hidden</option>
				      <option value="4">Search only</option>
				    </select>
				    <label></label>
		  	</td>
	    </tr>

	    <tr>
	      <td>Office <p class="sub-folders"><i class="material-icons flip">keyboard_return</i> &emsp;Non-Technical</p></td>
	      <td>
				    <select class="input-field">
				      <option value="" disabled selected>Set Permission</option>
				      <option value="1">Browse</option>
				      <option value="2">Browse and Move</option>
				      <option value="3">Hidden</option>
				      <option value="4">Search only</option>
				    </select>
				    <label></label>
		  	</td>
	    </tr>
	  </tbody>
	</table>
	
	<div class="row add-button">
		<a href="#modal3"	class="modal-trigger btn btn-large waves-effect waves-light col l2 offset-l10"><i class="large material-icons"></i>Add Folders</a>
		  <!-- Modal Structure -->
	  <div id="modal3" class="modal modal-fixed-footer">
	   <div class="modal-content">
	      <h4 class="center">Add Folders</h4>
	      <div class="row">
	      	<!-- <div class="input-field col l6 `">
				    <select class="hoverable">
				      <option value="" disabled selected>Choose your account</option>
				      <option value="1">abc@gmail.com</option>
				      <option value="2">abc@yahoo.com</option>
				      <option value="3">abc@rediff.com</option>
				    </select>
				    <label>Select Account</label>
				  </div> -->
				  <div class="input-field col l6 `">
				    <select class="hoverable">
				      <option value="" disabled selected>Choose Folder</option>
				      <option value="1">Inbox</option>
				      <option value="2">Sent</option>
				      <option value="3">Drafts</option>
				      <option value="4">Personal</option>
				      <option value="5">Updates</option>
				      <option value="6">Social</option>
				    </select>
				    <label>Select Folder</label>
				  </div>
	      </div>
	    </div>
	    <div class="modal-footer">
	      <a href="" class="modal-action modal-close waves-effect waves-green btn">Save <i class="material-icons">save</i></a>
	    </div>
	  </div>
	</div>
</div>

<!-- # 3 -->

<div class="row component-content folder-table hoverable">
	<h5><u><i class="material-icons left"> email</i><b>abc@rediff.com</b></u></h5>
	<table class="table-margin highlight">
	  <thead>
	    <tr>
	        <th data-field="folder_name">Folder Name</th>
	        <th data-field="permission">Permission</th>
	    </tr>
	  </thead>

	  <tbody>
	    <tr>
	      <td>Inbox</td>
	      <td>
				    <select class="input-field">
				      <option value="" disabled selected>Set Permission</option>
				      <option value="1">Browse</option>
				      <option value="2">Browse and Move</option>
				      <option value="3">Hidden</option>
				      <option value="4">Search only</option>
				    </select>
				    <label></label>
		  	</td>
	    </tr>

	    <tr>
	      <td>Office <p class="sub-folders"><i class="material-icons flip">keyboard_return</i> &emsp;Technical</p></td>
	      <td>
				    <select class="input-field">
				      <option value="" disabled selected>Set Permission</option>
				      <option value="1">Browse</option>
				      <option value="2">Browse and Move</option>
				      <option value="3">Hidden</option>
				      <option value="4">Search only</option>
				    </select>
				    <label></label>
		  	</td>
	    </tr>
	  </tbody>
	</table>
	
	<div class="row add-button">
		<a href="#modal4"	class="modal-trigger btn btn-large waves-effect waves-light col l2 offset-l10"><i class="large material-icons"></i>Add Folders</a>
		  <!-- Modal Structure -->
	  <div id="modal4" class="modal modal-fixed-footer">
	    <div class="modal-content">
	      <h4 class="center">Add Folders</h4>
	      <div class="row">
	      	<!-- <div class="input-field col l6 `">
				    <select class="hoverable">
				      <option value="" disabled selected>Choose your account</option>
				      <option value="1">abc@gmail.com</option>
				      <option value="2">abc@yahoo.com</option>
				      <option value="3">abc@rediff.com</option>
				    </select>
				    <label>Select Account</label>
				  </div> -->
				  <div class="input-field col l6 `">
				    <select class="hoverable">
				      <option value="" disabled selected>Choose Folder</option>
				      <option value="1">Inbox</option>
				      <option value="2">Sent</option>
				      <option value="3">Drafts</option>
				      <option value="4">Personal</option>
				      <option value="5">Updates</option>
				      <option value="6">Social</option>
				    </select>
				    <label>Select Folder</label>
				  </div>
	      </div>
	    </div>
	    <div class="modal-footer">
	      <a href="" class="modal-action modal-close waves-effect waves-green btn">Save <i class="material-icons">save</i></a>
	    </div>
	  </div>
	</div>
</div>



<!-- 	<nav class="search-bar">
	  <div class="nav-wrapper">
	    <div class="input-field">
	      <input id="searchbox2" class="searchbox" type="search" placeholder="Search to filter full list of folders"required>
	      <label id="searchbox-label2" class="searchbox-label" for="searchbox2"><i class="material-icons">search</i></label>
	      <i class="material-icons">close</i>
	    </div>
	  </div>
	</nav>
  <div class="row list-delegates">
  	<div class="col l3" *ngFor="let folder of folders;let idx = index">
  		<input type="checkbox" id="add_folders_checkbox_1"/>
  		<label for="add_folders_checkbox_1">{{folder}}</label>
  	</div>
  </div> -->