<div class="row component-content">
  <a [routerLink]="['/Dashboard']" class="btn-flat hoverable waves-effect waves-light col l3">Dashboard
    <i class="material-icons left">undo</i>
  </a>
  <!-- <a [routerLink]="['/FolderAccess']" class="btn-flat hoverable waves-effect waves-light col l3 offset-l6 right" > Give Folder Permission
    <i class="material-icons right">redo</i>
  </a> -->
</div>


<div class="component-content row">
	<h3 class="title"><u>{{title}}</u></h3>
	<div class="col l4">
		<div class="card">
		  <div class="card-image waves-effect waves-block waves-light">
		    <img class="activator img-responsive" src="assets/img/gmail-logo.png" alt="Not Available">
		  </div>
		  <div class="card-content">
		    <span class="card-title activator grey-text text-darken-4">abc@gmail.com<i class="material-icons left">email</i><i class="material-icons right">mode_edit</i></span>
		    <p><a href="#">This is a link</a></p>
		  </div>
		  <div class="card-reveal">
		    <span class="card-title grey-text text-darken-4">abc@gmail.com<i class="material-icons left">email</i><i class="material-icons right">close</i></span>
		    <div class="row">
			    <form class="col l10">
			      <div class="row">
			        <div class="input-field col l12">
			          <i class="material-icons prefix">account_circle</i>
			          <input id="icon_prefix" type="text" class="validate">
			          <label for="icon_prefix">Username</label>
			        </div>
			        <div class="input-field col l12">
			          <i class="material-icons prefix">redo</i>
			          <input id="icon_telephone" type="tel" class="validate">
			          <label for="icon_telephone">IMAP</label>
			        </div>
			        <div class="input-field col l12">
			          <i class="material-icons prefix">undo</i>
			          <input id="icon_telephone" type="tel" class="validate">
			          <label for="icon_telephone">SMTP</label>
			        </div>
			      </div>
			      <a class="waves-effect waves-light btn right"><i class="material-icons right">send</i>Save</a>
			    </form>
			  </div>
		  </div>
		  <div class="card-action">
		    <a href="">Delete</a>
		  </div>
		</div>
	</div>


	<div class="col l4">
		<div class="card">
		  <div class="card-image waves-effect waves-block waves-light">
		    <img class="activator img-responsive" src="assets/img/yahoo-logo.png" alt="Not Available">
		  </div>
		  <div class="card-content">
		    <span class="card-title activator grey-text text-darken-4">abc@yahoo.com<i class="material-icons left">email</i><i class="material-icons right">mode_edit</i></span>
		    <p><a href="#">This is a link</a></p>
		  </div>
		  <div class="card-reveal">
		    <span class="card-title grey-text text-darken-4">abc@yahoo.com<i class="material-icons left">email</i><i class="material-icons right">close</i></span>
		    <div class="row">
			    <form class="col l10">
			      <div class="row">
			        <div class="input-field col l12">
			          <i class="material-icons prefix">account_circle</i>
			          <input id="icon_prefix" type="text" class="validate">
			          <label for="icon_prefix">Username</label>
			        </div>
			        <div class="input-field col l12">
			          <i class="material-icons prefix">redo</i>
			          <input id="icon_telephone" type="tel" class="validate">
			          <label for="icon_telephone">IMAP</label>
			        </div>
			        <div class="input-field col l12">
			          <i class="material-icons prefix">undo</i>
			          <input id="icon_telephone" type="tel" class="validate">
			          <label for="icon_telephone">SMTP</label>
			        </div>
			      </div>
			      <a class="waves-effect waves-light btn right"><i class="material-icons right">send</i>Save</a>
			    </form>
			  </div>
		  </div>
		  <div class="card-action">
		    <a href="">Delete</a>
		  </div>
		</div>
	</div>

	<div class="col l4">
		<div class="card">
		  <div class="card-image waves-effect waves-block waves-light">
		    <img class="activator img-responsive" src="assets/img/yahoo-logo.png" alt="Not Available">
		  </div>
		  <div class="card-content">
		    <span class="card-title activator grey-text text-darken-4">abc@yahoo.com<i class="material-icons left">email</i><i class="material-icons right">mode_edit</i></span>
		    <p><a href="#">This is a link</a></p>
		  </div>
		  <div class="card-reveal">
		    <span class="card-title grey-text text-darken-4">abc@yahoo.com<i class="material-icons left">email</i><i class="material-icons right">close</i></span>
		    <div class="row">
			    <form class="col l10">
			      <div class="row">
			        <div class="input-field col l12">
			          <i class="material-icons prefix">account_circle</i>
			          <input id="icon_prefix" type="text" class="validate">
			          <label for="icon_prefix">Username</label>
			        </div>
			        <div class="input-field col l12">
			          <i class="material-icons prefix">undo</i>
			          <input id="icon_telephone" type="tel" class="validate">
			          <label for="icon_telephone">IMAP</label>
			        </div>
			        <div class="input-field col l12">
			          <i class="material-icons prefix">redo</i>
			          <input id="icon_telephone" type="tel" class="validate">
			          <label for="icon_telephone">SMTP</label>
			        </div>
			      </div>
			      <a class="waves-effect waves-light btn right"><i class="material-icons right">send</i>Save</a>
			    </form>
			  </div>
		  </div>
		  <div class="card-action">
		    <a href="">Delete</a>
		  </div>
		</div>
	</div>
</div>

<div class="row add-button">
	<a href="#modal1"	class="modal-trigger btn btn-large waves-effect waves-light">Add Account<i class="large material-icons">add</i></a>
	  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="center">Add Account</h4>
        <div class="row">
			    <form class="col s12">
			      <div class="row">
			        <div class="input-field col s6">
			          <input id="first_name" type="text" class="validate">
			          <label for="first_name">First Name</label>
			        </div>
			        <div class="input-field col s6">
			          <input id="last_name" type="text" class="validate">
			          <label for="last_name">Last Name</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <input id="email-id" type="email" class="validate">
			          <label for="email-id">Email Id</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <input id="acc-password" type="password" class="validate">
			          <label for="acc-password">Password</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s6">
			          <input id="smtp-server" class="validate">
			          <label for="smtp-server">SMTP</label>
			        </div>
			        <div class="input-field col s6">
			          <input id="imap-server"  class="validate">
			          <label for="imap-server">IMAP</label>
			        </div>
			      </div>
			    </form>
			  </div>
        
    </div>
    <div class="modal-footer">
      <a href="" class="modal-action modal-close waves-effect waves-green btn">ADD <i class="material-icons">add</i></a>
    </div>
  </div>
</div>
