<div class="row component-content">
  <a [routerLink]="['/Dashboard']" class="btn-flat hoverable waves-effect waves-light col l3">Dashboard
    <i class="material-icons left">undo</i>
  </a>
  <!-- <a [routerLink]="['/FolderAccess']" class="btn-flat hoverable waves-effect waves-light col l3 offset-l6 right" > Give Folder Permission
    <i class="material-icons right">redo</i>
  </a> -->
</div>
<div class="row component-content">
  <h3 class="title"><u>{{title}}</u></h3>

	<div class="col l4 s12 m4">
	  <div class="card delegation-card hoverable z-depth-2">
	    <div class="card-content white-text ">
	      <span class="card-title">Delegation 1</span>
	      <p>I am a very simple card. I am good at containing small bits of information.
	      I am convenient because I require little markup to use effectively.</p>
	    </div>
	    <div class="card-action">
	      <a [routerLink]="['/Delegation']">Configure</a>
	      <a href="">View</a>
	    </div>
	  </div>
	</div>

	<div class="col l4 s12 m4">
	  <div class="card delegation-card hoverable z-depth-2">
	    <div class="card-content white-text ">
	      <span class="card-title">Delegation 2</span>
	      <p>I am a very simple card. I am good at containing small bits of information.
	      I am convenient because I require little markup to use effectively.</p>
	    </div>
	    <div class="card-action">
	      <a [routerLink]="['/Delegation']">Configure</a>
	      <a href="">View</a>
	    </div>
	  </div>
	</div>

	<div class="col l4 s12 m4">
	  <div class="card delegation-card hoverable z-depth-2">
	    <div class="card-content white-text ">
	      <span class="card-title">Delegation 3</span>
	      <p>I am a very simple card. I am good at containing small bits of information.
	      I am convenient because I require little markup to use effectively.</p>
	    </div>
	    <div class="card-action">
	      <a [routerLink]="['/Delegation']">Configure</a>
	      <a href="">View</a>
	    </div>
	  </div>
	</div>

          
</div>

<form class="row component-content">
  <div class="col l8 input-field">
    <input id="delegation_name" type="text" class="validate" required>
    <label for="delegation_name">Delegation Name</label>
  </div>
  <button class=" col l2 btn waves-effect waves-light"><i class="material-icons right">add</i>Add Delegation</button>
</form>
