
<div class="row component-content">
	<a [routerLink]="['/PrivateContacts']" class="btn-flat hoverable waves-effect waves-light col l3">Which contacts are private?
	  <i class="material-icons left">undo</i>
	</a>
	<!-- <a [routerLink]="['/PrivateMessages']" class="btn-flat hoverable waves-effect waves-light col l3 offset-l6 right" > Email Delegation Options?
    <i class="material-icons right">redo</i>
  </a> -->
</div>

<div class="row component-content">	
	<h3 class="title"><u>{{title}}</u></h3>
</div>

<div class="row component-content">	
	<div class="col l10 input-field	">
		<input type="text" id="add-private-messages"/>
		<label for="add-private-messages">Add Private Messages Text</label>
	</div>
	<div class="col l2">
			<button class="btn waves-effect waves-light col l10 offset-l2" type="submit" name="action">Add
        <i class="material-icons right">send</i>
      </button>
	</div>
</div>

<div class="component-content row">
	<div class="col l12">
		<ul class="collection with-header">
			<li class="collection-header"><h4>Private Messages</h4></li>
			<li class="collection-item">
				<div class="row list-item">
					<div class="col l1 s2">
						<input type="checkbox" id="messages_checkbox_1">
						<label for="messages_checkbox_1"></label>
					</div>
					<div class="col l11 s10">
						children And School
						<a class="secondary-content close"><i class="material-icons">close</i></a>
					</div>
				</div>
			</li>
			<li class="collection-item">
				<div class="row list-item">
					<div class="col l1 s2">
						<input type="checkbox" id="messages_checkbox_2">
						<label for="messages_checkbox_2"></label>
					</div>
					<div class="col l11 s10">
						$
						<a class="secondary-content close"><i class="material-icons">close</i></a>
					</div>
				</div>
			</li>
			<li class="collection-item">
				<div class="row list-item">
					<div class="col l1 s2">
						<input type="checkbox" id="messages_checkbox_3">
						<label for="messages_checkbox_3"></label>
					</div>
					<div class="col l11 s10">
						salary
						<a class="secondary-content close"><i class="material-icons">close</i></a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>