/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*body{
  background-color: #eeeeee;
}
*/

.container{
  position: relative;
}
 body {
  position: relative;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #333333 !important;
  color : #FFFFFF !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 1.5rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.title{
  color : #444444;
}

.add-button{
  /*margin-bottom: 35px;*/
  padding-left: 25px;
}

.folder-table{
  border: 1px dashed #444444;
  padding: 15px;
}

.breadcrumbs .breadcrumb{
  color : #444444 !important;
}

.close{
    color:red;
}

.list-item{
    margin-bottom:0px;
}

.searchbox{
  height : 64px !important;
  background-color : #FFFFFF;
  padding-left: 100px !important;
}

.searchbox-label{
  background-color: black !important;
  width: 70px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  left : 0 !important;
}

.list-delegates{
  margin-top: 50px;
  padding : 10px;
}

.search-bar{
  background-color: #FFFFFF;
}


.component-content{
  margin-top: 50px;
}

.signup{
  /*border-right : dashed 2px #444444;*/
  padding: 50px !important;
}

.login{
  padding: 50px !important;
}

.btn-flat{
  border : 1px dotted #444444;
}

#search-dropdown-delegates{
  /*padding-left: 50px;*/
  width: 100% !important;
}

td,th{
  padding: 0px 5px;
}

.table-margin{
  margin-top: 35px;
  /*padding-bottom: 35px;*/
}

.folder-table{
  /*border-bottom : 1px dotted #444444;*/
}

.flip{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.sub-folders{
  padding-left: 20px;
}

.delegation-card{
  background-color: #444444;
}