<div class="row component-content">
  <form class="col l4 offset-l8 login z-depth-2" (ngSubmit)="onSubmit()">
    <div class="row">
      <h4 class="col l6">{{login}}</h4>
      <a [routerLink]="['/Signup']" class="btn-flat hoverable waves-effect waves-light col l6" type="submit" name="action">Sign Up
        <i class="material-icons right">send</i>
      </a>
    </div>
    <div class="row">
      <div class="input-field col l12">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" [(ngModel)]="details.username" class="validate" required>
        <label for="icon_prefix">Username</label>
      </div>
      <div class="input-field col l12">
        <i class="material-icons prefix">lock</i>
        <input id="icon_telephone" type="password" [(ngModel)]="details.password" class="validate" required>
        <label for="icon_telephone">Password</label>
      </div>

      <button class="btn waves-effect waves-light col l11 offset-l1" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
        