<div class="row component-content">
  <a [routerLink]="['/Dashboard']" class="btn-flat hoverable waves-effect waves-light col l3">Dashboard
    <i class="material-icons left">undo</i>
  </a>
  <!-- <a [routerLink]="['/FolderAccess']" class="btn-flat hoverable waves-effect waves-light col l3 offset-l6 right" > Give Folder Permission
    <i class="material-icons right">redo</i>
  </a> -->
</div>
<div class="row component-content">
  <h3 class="title"><u>{{title}}</u></h3>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">group_add</i>Who may help me ?</div>
      <div class="collapsible-body">
      	<p>
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non ultrices erat. Aenean vel blandit massa. Praesent ac interdum nisi, non tincidunt nisl. Morbi mattis at velit eu bibendum. Vivamus quis gravida enim. Proin varius luctus cursus. Praesent quis egestas nibh. Nam porta purus eget lobortis volutpat. Nunc id lorem congue, lobortis eros in, dictum justo.
      		<a [routerLink]="['/AddDelegates']"><i class="material-icons right">forward</i></a>
      	</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">folder_shared</i>Which folders can they access</div>
      <div class="collapsible-body">
      	<p>
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non ultrices erat. Aenean vel blandit massa. Praesent ac interdum nisi, non tincidunt nisl. Morbi mattis at velit eu bibendum. Vivamus quis gravida enim. Proin varius luctus cursus. Praesent quis egestas nibh. Nam porta purus eget lobortis volutpat. Nunc id lorem congue, lobortis eros in, dictum justo.
      		<a [routerLink]="['/FolderAccess']"><i class="material-icons right">forward</i></a>
      	</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">supervisor_account</i>What can they do on my behalf?</div>
      <div class="collapsible-body">
      	<p>
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non ultrices erat. Aenean vel blandit massa. Praesent ac interdum nisi, non tincidunt nisl. Morbi mattis at velit eu bibendum. Vivamus quis gravida enim. Proin varius luctus cursus. Praesent quis egestas nibh. Nam porta purus eget lobortis volutpat. Nunc id lorem congue, lobortis eros in, dictum justo.
      		<a [routerLink]="['/Permissions']"><i class="material-icons right">forward</i></a>
      	</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">folder_open</i>Which Contacts are private?</div>
      <div class="collapsible-body">
      	<p>
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non ultrices erat. Aenean vel blandit massa. Praesent ac interdum nisi, non tincidunt nisl. Morbi mattis at velit eu bibendum. Vivamus quis gravida enim. Proin varius luctus cursus. Praesent quis egestas nibh. Nam porta purus eget lobortis volutpat. Nunc id lorem congue, lobortis eros in, dictum justo.
      		<a [routerLink]="['/PrivateContacts']"><i class="material-icons right">forward</i></a>
      	</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">event_note</i>Which messages are private?</div>
      <div class="collapsible-body">
      	<p>
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non ultrices erat. Aenean vel blandit massa. Praesent ac interdum nisi, non tincidunt nisl. Morbi mattis at velit eu bibendum. Vivamus quis gravida enim. Proin varius luctus cursus. Praesent quis egestas nibh. Nam porta purus eget lobortis volutpat. Nunc id lorem congue, lobortis eros in, dictum justo.
      		<a [routerLink]="['/PrivateMessages']"><i class="material-icons right">forward</i></a>
      	</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">event_note</i>Respond to email access requests</div>
      <div class="collapsible-body">
      	<p>
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non ultrices erat. Aenean vel blandit massa. Praesent ac interdum nisi, non tincidunt nisl. Morbi mattis at velit eu bibendum. Vivamus quis gravida enim. Proin varius luctus cursus. Praesent quis egestas nibh. Nam porta purus eget lobortis volutpat. Nunc id lorem congue, lobortis eros in, dictum justo.
      		<a [routerLink]="['/Dashboard']"><i class="material-icons right">forward</i></a>
      	</p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">event_note</i>Reports : see who did what</div>
      <div class="collapsible-body">
      	<p>
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non ultrices erat. Aenean vel blandit massa. Praesent ac interdum nisi, non tincidunt nisl. Morbi mattis at velit eu bibendum. Vivamus quis gravida enim. Proin varius luctus cursus. Praesent quis egestas nibh. Nam porta purus eget lobortis volutpat. Nunc id lorem congue, lobortis eros in, dictum justo.
      		<a [routerLink]="['/Dashboard']"><i class="material-icons right">forward</i></a>
      	</p>
      </div>
    </li>

  </ul>
</div>
        