<div class="row component-content">
	<a [routerLink]="['/Delegation']" class="btn-flat hoverable waves-effect waves-light col l3">Email Delegation Options
	  <i class="material-icons left">undo</i>
	</a>
	<a [routerLink]="['/FolderAccess']" class="btn-flat hoverable waves-effect waves-light col l3 offset-l6 right" > Give Folder Permission
    <i class="material-icons right">redo</i>
  </a>
</div>
<div class="row component-content">
	<h3 class="title"><u>{{title}}</u></h3>
	<!-- <div class="row">
		<input type="checkbox" id="checkbox_1">
		<label for="checkbox_1">Assistan Anie</label>
		<input type="checkbox" id="checkbox_2">
		<label for="checkbox_2">Helper Harry</label>
	</div> -->
	<nav class="search-bar">
	  <div class="nav-wrapper">
	    <div class="input-field">
	      <input id="searchbox1" class="searchbox dropdown-button" type="search" data-activates='search-dropdown-delegates' placeholder="Search to filter full list of contacts to add delegates" required>
	      <label id="searchbox-label1" class="searchbox-label" for="searchbox"><i class="material-icons">search</i></label>
	      <i class="material-icons">close</i>
	    </div>
	  </div>
	</nav>

	<ul id='search-dropdown-delegates' class='dropdown-content'>
	  <li><a href="">Assistan Anie</a></li>
	  <li class="divider"></li>
	  <li><a href="">Helper Harry</a></li>
	  <li class="divider"></li>
	  <li><a href="">Pretty Pragya</a></li>
	  <li class="divider"></li>
	  <li><a href="">Massive Mrityunjay</a></li>
	</ul>

	<div class="row list-delegates">
		<ul class="collection with-header">
			<li class="collection-header"><h4>Delegates</h4></li>
			<li class="collection-item">
				<div class="row list-item">
					<!-- <div class="col l1 s2">
						<i class="material-icons">done</i>
					</div> -->
					<div class="col l12 s10">
						Assistan Anie
						<a class="secondary-content close"><i class="material-icons">close</i></a>
					</div>
				</div>
			</li>
			<li class="collection-item">
				<div class="row list-item">
					<!-- <div class="col l1 s2">
						<i class="material-icons">done</i>
					</div> -->
					<div class="col l12 s10">
						Helper Harry
						<a class="secondary-content close"><i class="material-icons">close</i></a>
					</div>
				</div>
			</li>
			<!-- <li class="collection-item">
				<div class="row list-item">
					<div class="col l1 s2">
						<i class="material-icons">done</i>
					</div>
					<div class="col l11 s10">
						Pretty Pragya
						<a class="secondary-content close"><i class="material-icons">close</i></a>
					</div>
				</div>
			</li> -->
			<li class="collection-item">
				<div class="row list-item">
					<!-- <div class="col l1 s2">
						<i class="material-icons">done</i>
					</div> -->
					<div class="col l12 s10">
						Massive Mrityunjay
						<a class="secondary-content close"><i class="material-icons">close</i></a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>