
<div class="row component-content">
	<a [routerLink]="['/Permissions']" class="btn-flat hoverable waves-effect waves-light col l3">What can they do on my behalf?
	  <i class="material-icons left">undo</i>
	</a>
	<a [routerLink]="['/PrivateMessages']" class="btn-flat hoverable waves-effect waves-light col l3 offset-l6 right" > Which messages are private?
    <i class="material-icons right">redo</i>
  </a>
</div>

<div class="row component-content">	
	<h3 class="title"><u>{{title}}</u></h3>
</div>

<div class="row component-content">	
	<div class="col l5 s10 input-field	">
		<input type="text" id="add-private-contacts"/>
		<label for="add-private-contacts">Search to filter full list of contacts</label>
	</div>
	<div class="col l2 s2">
			<button class="btn waves-effect waves-light col l10 offset-l2" type="submit" name="action">Add
        <i class="material-icons right">send</i>
      </button>
	</div>
</div>
<div class="component-content row">
	<div class="col l7 s12">
		<ul class="collection with-header">
			<li class="collection-header"><h4>Full List of Contacts</h4></li>
			<li class="collection-item">
				<div class="row list-item">
					<div class="col l1 s2">
						<input type="checkbox" id="contacts_checkbox_1">
						<label for="contacts_checkbox_1"></label>
					</div>
					<div class="col l11 s10">
						John Doe (john@doe.com)
						<a class="secondary-content close"><i class="material-icons">close</i></a>
					</div>
				</div>
			</li>
			<li class="collection-item">
				<div class="row list-item">
					<div class="col l1 s2">
						<input type="checkbox" id="contacts_checkbox_2">
						<label for="contacts_checkbox_2"></label>
					</div>
					<div class="col l11 s10">
						Jane Doe (jane@me.com)
						<a class="secondary-content close"><i class="material-icons">close</i></a>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="col l4 offset-l1">
		<div class="row">
			<ul class="collection with-header">
				<li class="collection-header"><h4>Your Private Contacts</h4></li>
			</ul>
		</div>
		<div class="row">
			<ul class="collection with-header">
				<li class="collection-header"><h4>Anyone at these domain</h4></li>
				<li class="collection-item">
					<div class="row list-item">
						<div class="col l1 s2">
							<input type="checkbox" id="domains_checkbox_1">
							<label for="domains_checkbox_1"></label>
						</div>
						<div class="col l11 s10">
							mydomain.com
							<a class="secondary-content close"><i class="material-icons">close</i></a>
						</div>
					</div>
				</li>
				<li class="collection-item">
					<div class="row list-item">
						<div class="col l1 s2">
							<input type="checkbox" id="domains_checkbox_2">
							<label for="domains_checkbox_2"></label>
						</div>
						<div class="col l11 s10">
							anotherdomain.com
							<a class="secondary-content close"><i class="material-icons">close</i></a>
						</div>
					</div>
				</li>
				<li class="collection-item">
					<div class="row list-item">
						<div class="col l9 input-field">
							<input type="text" id="domains_text_2">
							<label for="domains_text_2">Add Domain</label>
						</div>
						<div class="col l3 ">
							<button class="btn waves-effect waves-light col l10 offset-l2" type="submit" name="action">Add
			        	<i class="material-icons right">send</i>
			      	</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="row"	>
			<ul class="collection with-header">
				<li class="collection-header"><h4>These individuals</h4></li>
				<li class="collection-item">
					<div class="row list-item">
						<div class="col l1 s2">
							<input type="checkbox" id="individuals_individualsx_1">
							<label for="individuals_checkbox_1"></label>
						</div>
						<div class="col l11 s10">
							sally@rocketmail.com
							<a class="secondary-content close"><i class="material-icons">close</i></a>
						</div>
					</div>
				</li>
				<li class="collection-item">
					<div class="row list-item">
						<div class="col l1 s2">
							<input type="checkbox" id="individuals_checkbox_2">
							<label for="individuals_checkbox_2"></label>
						</div>
						<div class="col l11 s10">
							harry@rapidmail.com
							<a class="secondary-content close"><i class="material-icons">close</i></a>
						</div>
					</div>
				</li>
				<li class="collection-item">
					<div class="row list-item">
						<div class="col l9 input-field">
							<input type="text" id="domains_text_3">
							<label for="domains_text_3">Add Individual</label>
						</div>
						<div class="col l3 ">
							<button class="btn waves-effect waves-light col l10 offset-l2" type="submit" name="action">Add
			        	<i class="material-icons right">send</i>
			      	</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

